@model BooklyProjectNew.Entities.Author
@{
    ViewBag.Title = "UpdateAuthor";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Yazar Güncelle</h3>

<form method="post">
    <input type="hidden" name="@Model.AuthorId" />
    <label>Yazar Adı</label>
    <input type="text" name="Name" value="@Model.Name" class="form-control" required />
    <br />
    <label>Yazar Soyadı</label>
    <input type="text" name="Surname" value="@Model.Surname" class="form-control" required />
    <br />
    <button class="btn btn-outline-dark"><i class="fa fa-pen"></i> Güncelle</button>
</form>


